<div class="wrap-sub">
    <div class="wrap-sub-top wrap-about">
        <div class="sub-title">
            <h2>Organization</h2>
            <p>Korean-American Scientists and Engineers Association(KSEA)</p>
        </div>
    </div>
    <div class="wrap-sub-con">
        <h3>Leadership</h3>
        <div class="wrap-organizsion">
            <ul class="list-leader">
                <li>
                    <img src="assets/images/leader/leader01.jpeg" alt="Byungkyu Brian Park's photo">
                    <div class="leader-info">
                        <span class="job-title">President (P)</span>
                        <span class="leader-name">Byungkyu Brian Park</span>
                        <span class="leader-contact">
                            <a href="mailto:brian.uva@gmail.com">brian.uva@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader02.jpeg" alt="Young-Kee Kim's photo">
                    <div class="leader-info">
                        <span class="job-title">President-Elect (PE)</span>
                        <span class="leader-name">Young-Kee Kim</span>
                        <span class="leader-contact">
                            <a href="mailto:bykkim@hep.uchicago.edu">ykkim@hep.uchicago.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader03.jpeg" alt="Gloria Kim's photo">
                    <div class="leader-info">
                        <span class="job-title">Vice President (VP1)</span>
                        <span class="leader-name">Gloria Kim</span>
                        <span class="leader-contact">
                            <a href="mailto:gloriakim.ksea@gmail.com">gloriakim.ksea@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader04.jpeg" alt="Chang Soo Nam's photo">
                    <div class="leader-info">
                        <span class="job-title">Vice President (VP2)</span>
                        <span class="leader-name">Chang Soo Nam</span>
                        <span class="leader-contact">
                            <a href="mailto:csnam@ncsu.edu">csnam@ncsu.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader05.jpeg" alt="Hyojin Kim's photo">
                    <div class="leader-info">
                        <span class="job-title">Executive Director (ED)</span>
                        <span class="leader-name">Hyojin Kim</span>
                        <span class="leader-contact">
                            <a href="mailto:hyojin.kim.ksea@gmail.com">hyojin.kim.ksea@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader06.jpeg" alt="Kate Hyun's photo">
                    <div class="leader-info">
                        <span class="job-title">Finance Director (FD)</span>
                        <span class="leader-name">Kate Hyun</span>
                        <span class="leader-contact">
                            <a href="mailto:kate.hyun@uta.edu">kate.hyun@uta.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader07.jpeg" alt="Jinsung Chos photo">
                    <div class="leader-info">
                        <span class="job-title">General Director (GD)</span>
                        <span class="leader-name">Jinsung Cho</span>
                        <span class="leader-contact">
                            <a href="mailto:jinsungcho@cpp.edu">jinsungcho@cpp.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader08.jpeg" alt="Donghun Park photo">
                    <div class="leader-info">
                        <span class="job-title">IT Director</span>
                        <span class="leader-name">Donghun Park</span>
                        <span class="leader-contact">
                            <a href="mailto:park.donghun@gmail.com">park.donghun@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader09.jpeg" alt="Jungyub Woo photo">
                    <div class="leader-info">
                        <span class="job-title">IT Director</span>
                        <span class="leader-name">Jungyub Woo</span>
                        <span class="leader-contact">
                            <a href="mailto:jungyubw@gmail.com">jungyubw@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader10.jpeg" alt="SungWoo Nam photo">
                    <div class="leader-info">
                        <span class="job-title">SEED</span>
                        <span class="leader-name">SungWoo Nam</span>
                        <span class="leader-contact">
                            <a href="mailto:swnam@illinois.edu">swnam@illinois.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader11.jpeg" alt="Il Minn photo">
                    <div class="leader-info">
                        <span class="job-title">Entrepreneurship</span>
                        <span class="leader-name">Il Minn</span>
                        <span class="leader-contact">
                            <a href="mailto:iminn1@gmail.com">iminn1@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader12.jpeg" alt="Goo Jun photo">
                    <div class="leader-info">
                        <span class="job-title">Membership Director (MD)</span>
                        <span class="leader-name">Goo Jun</span>
                        <span class="leader-contact">
                            <a href="mailto:Goo.Jun@uth.tmc.edu">Goo.Jun@uth.tmc.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader13.jpeg" alt="Sung-Ju Kim photo">
                    <div class="leader-info">
                        <span class="job-title">Development Director</span>
                        <span class="leader-name">Sung-Ju Kim</span>
                        <span class="leader-contact">
                            <a href="mailto:skim67@ncsu.edu">skim67@ncsu.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader14.jpeg" alt="Yong-Kyu Yoon photo">
                    <div class="leader-info">
                        <span class="job-title">KEIT Project Director</span>
                        <span class="leader-name">Yong-Kyu Yoon</span>
                        <span class="leader-contact">
                            <a href="mailto:ykyoon@ece.ufl.edu">ykyoon@ece.ufl.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader15.jpeg" alt="Sang-Eun Song photo">
                    <div class="leader-info">
                        <span class="job-title">Project Director</span>
                        <span class="leader-name">Sang-Eun Song</span>
                        <span class="leader-contact">
                            <a href="mailto:sam0song@gmail.com">sam0song@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader16.jpeg" alt="Jayoung Kim photo">
                    <div class="leader-info">
                        <span class="job-title">PR Director</span>
                        <span class="leader-name">Jayoung Kim</span>
                        <span class="leader-contact">
                            <a href="mailto:ksea49prd@gmail.com">ksea49prd@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader17.jpeg" alt="Clara Kim photo">
                    <div class="leader-info">
                        <span class="job-title">Social Media Director</span>
                        <span class="leader-name">Clara Kim</span>
                        <span class="leader-contact">
                            <a>-</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader18.jpeg" alt="Byungwhi Caleb Kong photo">
                    <div class="leader-info">
                        <span class="job-title">Technical Group Director</span>
                        <span class="leader-name">Byungwhi Caleb Kong</span>
                        <span class="leader-contact">
                            <a href="mailto:bkong@uark.edu">bkong@uark.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader19.jpeg" alt="Ahreum Ju photo">
                    <div class="leader-info">
                        <span class="job-title">EdTech Director</span>
                        <span class="leader-name">Ahreum Ju</span>
                        <span class="leader-contact">
                            <a href="mailto:juahreum@cityu.edu">juahreum@cityu.edu</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader20.jpeg" alt="Han Sang Kim photo">
                    <div class="leader-info">
                        <span class="job-title">Advancement Director</span>
                        <span class="leader-name">Han Sang Kim</span>
                        <span class="leader-contact">
                            <a href="mailto:ksea50adv@gmail.com">ksea50adv@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader21.jpeg" alt="Jonathan Young Kim photo">
                    <div class="leader-info">
                        <span class="job-title">Publication Director 1</span>
                        <span class="leader-name">Jonathan Young Kim</span>
                        <span class="leader-contact">
                            <a>-</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader22.jpeg" alt="Hailey Bae photo">
                    <div class="leader-info">
                        <span class="job-title">Publication Director 2</span>
                        <span class="leader-name">Hailey Bae</span>
                        <span class="leader-contact">
                            <a href="mailto:hyejin25@gmail.com">hyejin25@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader23.jpeg" alt="Jaeyoung Jung photo">
                    <div class="leader-info">
                        <span class="job-title">Publication Director 3</span>
                        <span class="leader-name">Jaeyoung Jung</span>
                        <span class="leader-contact">
                            <a href="mailto:jae.jung.ksea@gmail.com">jae.jung.ksea@gmail.com</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader24.jpeg" alt="Soyoon Kum photo">
                    <div class="leader-info">
                        <span class="job-title">Publication Director 4</span>
                        <span class="leader-name">Soyoon Kum</span>
                        <span class="leader-contact">
                            <a>-</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader25.jpeg" alt="Flora Yoon photo">
                    <div class="leader-info">
                        <span class="job-title">YG/YP Director</span>
                        <span class="leader-name">Flora Yoon</span>
                        <span class="leader-contact">
                            <a>-</a>
                        </span>
                    </div>
                </li>
                <li>
                    <img src="assets/images/leader/leader26.jpeg" alt="Joy Kim photo">
                    <div class="leader-info">
                        <span class="job-title">YG Director</span>
                        <span class="leader-name">Joy Kim</span>
                        <span class="leader-contact">
                            <a>-</a>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>