<div class="wrap-con">
    <div class="wrap-title">
        <h2>APS Member Chart</h2>
        <button class="btn_blue" type="button" (click)="reload()">Reload!</button>
        <button class="btn_deep_gray" type="button" (click)="showSendEmail()">Send Email</button>
    </div>
    <p-chart type="bar" [data]="basicData" [options]="stackedOptions"></p-chart>
    <div class="wrap-sub-title">
        <h3>APS Info Tables</h3>
        <button class="btn_gray" (click)="showAdd()">ADD</button>
    </div>
    <p-table [value]="apsdefs" class="table-data">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        ID
                        <p-columnFilter type="text" field="apsID" display="apsID"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        Name
                        <p-columnFilter type="text" field="apsName" display="apsName"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        Full Name
                        <p-columnFilter type="text" field="apsFullName" display="apsFullName"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        URL
                        <p-columnFilter type="text" field="apsURL" display="apsURL"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        president
                        <p-columnFilter type="text" field="presidentID" display="presidentID"></p-columnFilter>
                    </div>
                </th>
                <th>Edit</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.apsID}}</td>
                <td>{{item.apsName}}</td>
                <td>{{item.apsFullName}}</td>
                <td>{{item.apsURL}}</td>
                <td>{{item.presidentID}}</td>
                <td> <button class="btn_gray" (click)="showEdit()">Edit</button></td>
            </tr>
        </ng-template>
    </p-table>
</div>
<!-- [Dev] 데이터 추가 Diglog -->
<p-dialog header="Add APS" [(visible)]="displayAddAPS"  [modal]="true">
    <div class="wrap-dlg">
        <ul class="input-data">
            <li>
                <label for="apsID">ID</label>
                <input type="text" name="" id="apsID" placeholder="ID">
            </li>
            <li>
                <label for="apsName">Name</label>
                <input type="text" name="" id="apsName" placeholder="Name">
            </li>
            <li>
                <label for="apsFullName">Full Name</label>
                <input type="text" name="" id="apsFullName" placeholder="Full Name">
            </li>
            <li>
                <label for="apsURL">Url</label>
                <input type="text" name="" id="apsURL" placeholder="Url">
            </li>
            <li>
                <label for="presidentId">President</label>
                <input type="text" name="" id="presidentId" placeholder="President">
            </li>
        </ul>
        <div class="dlg-btn-g">
            <button class="btn_dlg_gray" (click)="closeDlg()">Cancel</button>
            <button class="btn_dlg_blue">Save</button>
        </div>
    </div>
</p-dialog>
<!-- [Dev] 데이터 수정 Diglog : 수정해야 하는 값이 인풋에 들어 있어야 함-->
<p-dialog header="Edit APS" [(visible)]="displayEditAPS"  [modal]="true">
    <div class="wrap-dlg">
        <ul class="input-data">
            <li>
                <label for="apsID">ID</label>
                <Span>01</Span>
            </li>
            <li>
                <label for="apsName">Name</label>
                <input type="text" name="" id="apsName" placeholder="Name">
            </li>
            <li>
                <label for="apsFullName">Full Name</label>
                <input type="text" name="" id="apsFullName" placeholder="Full Name">
            </li>
            <li>
                <label for="apsURL">Url</label>
                <input type="text" name="" id="apsURL" placeholder="Url">
            </li>
            <li>
                <label for="presidentId">President</label>
                <input type="text" name="" id="presidentId" placeholder="President">
            </li>
        </ul>
        <div class="dlg-btn-g">
            <button class="btn_dlg_gray" (click)="closeDlg()">Cancel</button>
            <button class="btn_dlg_blue">Save</button>
        </div>
    </div>
</p-dialog>
<!-- [Dev] Email -->
<p-dialog header="Send Email" [(visible)]="displaySendEmail"  [modal]="true">
    <div class="wrap-dlg">
        <ul class="input-email">
            <li>
                <label for="mailTo">To</label>
                <input type="text" name="" id="mailTo" placeholder="abc@ksea.org">
            </li>
            <li>
                <label for="mailTitle">Title</label>
                <input type="text" name="" id="mailTitle" placeholder="Title">
            </li>
            <li>
                <label for="mailTxt">Message</label>
                <textarea name="" id="mailTex" rows="5"></textarea>
            </li>
        </ul>
    </div>
    <div class="dlg-btn-g">
        <button class="btn_dlg_gray" (click)="closeDlg()">Cancel</button>
        <button class="btn_dlg_blue">Send</button>
    </div>
</p-dialog>
