<header>
    <div class="wrap-sub-navi">
        <ul>
            <li> 703.748.1221    </li>
            <li><a href="mailto:SEJONG@KSEA.ORG">SEJONG@KSEA.ORG</a></li>
        </ul>
        <ul class="sub-navi">
            <li *ngIf="false">My Page</li>
            <li>LOGIN</li>
            <li *ngIf="false">LOGOUT</li>
        </ul>
    </div>
    <nav class="wrap-navi">
        <div class="logo">
            <img src="assets/images/logo_ksea.png" alt="KSEA logo image">
        </div>
        <div class="navi">
            <ul>
                <li class="selected">About</li>
                <li>Organization</li>
                <li>Activity</li>
                <li>Award</li>
                <li>Information</li>
                <li>Membership</li>
            </ul>
        </div>
    </nav>
</header>