<header>
    <app-gnb (selectEmitter)="receiveSelection($event)"></app-gnb>
</header>
<div class="wrap">

    <app-login (selectEmitter)="receiveSelection($event)" *ngIf="selection === 'login'"></app-login>
    <app-signin (selectEmitter)="receiveSelection($event)" *ngIf="selection === 'signin'"></app-signin>
    <app-mypage *ngIf="selection === 'mypage'"></app-mypage>
    <app-main (selectEmitter)="receiveSelection($event)" *ngIf="selection === 'main'"></app-main>
    <!-- sub page -->
    <app-board-notice *ngIf="selection === 'board-notice'"></app-board-notice>
    <app-footer></app-footer>
</div>