<div class="wrap">
    <div class="con-input" *ngIf="true">
        <h3 class="title">Sign up</h3>
        <ul class="input-g">
            <li>
                <input type="text" placeholder="ID">
            </li>
            <li>
                <input type="email" placeholder="Email">
            </li>
            <li class="input-2">
                <input type="test" placeholder="First name">
                <input type="test" placeholder="Last name">
            </li>
            <li>
                <input type="password" placeholder="Password">
            </li>
            <li>
                <input type="password" placeholder="Confirm password">
            </li>
        </ul>
        <button class="btn-signin">Sign up</button>
        <p (click)="onClick('login')" class="btn-text">Back to Login</p>
    </div>
    <div class="con-img">
        <img src="assets/images/" alt="">
    </div>
</div>
