<div class="wrap">
    <div>
        <img src="assets/images/logo_w_ksea.png" alt="KSEA logo">
    </div>
    <div class="wrap-gnb">
        <ul class="gnb">
            <li (click)="onClick('Chapter Statistics')">Chapter Statistics</li>
            <li (click)="onClick('TG Statistics')">TG Statistics</li>
            <li (click)="onClick('APS Statistics')">APS Statistics</li>
            <li (click)="onClick('Specialty Statistics')">Specialty Statistics</li>
            <li (click)="onClick('Member Management')">Member Management</li>
        </ul>
    </div>
    <div class="con-logout">
        <button class="btn-logout">Log out</button>
    </div>
   
</div>