.wrap {
    position: relative;
    background-color: #3C5DB7;
    color: #fff;
    font-size: 1rem;
    height: 100vh;
    padding: 2em 1.2rem;
}
.wrap-gnb {
    margin-top: 2em;
}
.gnb {
    display: flex;
    flex-direction: column;
}
.gnb li {
    cursor: pointer;
    font-weight: normal;
    line-height: 2;
    padding: 0.2em 0.4rem;
    width: 12rem;
    border-radius: 2px;
}
.gnb li:hover {
    background-color: #1A2541;
}
.con-logout {
    position: fixed;
    bottom: 2.5vh;
    text-align: center;
}
.btn-logout {
    background-color: #213D88;
    color: #fff;
    width: 10rem;
    border-radius: 4px;
    height: 2em;
    font-size: 0.875rem;
}
.btn-logout:hover {
    background-color: #1A2541;
}
