<div class="wrap-con">
    <div class="wrap-title">
        <h2>Users Tables</h2>
        <button class="btn_blue" type="button" (click)="reload()">Reload!</button>
        <button class="btn_deep_gray" type="button" (click)="showSendEmail()">Send Email</button>
        <button class="btn_red" type="button" (click)="deleteAccounts()">Del Accounts</button>
    </div>
    <p-table [value]="users" [(selection)]="selectedUsers" dataKey="memberId" [paginator]="true" [rows]="50" [showCurrentPageReport]="true" responsiveLayout="scroll"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[50,100,150]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        MemberId
                        <p-columnFilter type="text" field="memberId" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        KSEAId
                        <p-columnFilter type="text" field="KSEAId" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        LoginId
                        <p-columnFilter type="text" field="loginId" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        First Name
                        <p-columnFilter type="text" field="firstName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        Last Name
                        <p-columnFilter type="text" field="lastName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        Gender
                        <p-columnFilter type="text" field="gender" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        Birth
                        <p-columnFilter type="date" field="birth" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        title
                        <p-columnFilter type="text" field="title" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        email
                        <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        Url
                        <p-columnFilter type="text" field="homepageUrl" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        homePhone
                        <p-columnFilter type="text" field="homePhone" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        homeCell
                        <p-columnFilter type="text" field="homeCell" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        homeFax
                        <p-columnFilter type="text" field="homeFax" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        homeStreet
                        <p-columnFilter type="text" field="homeStreet" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        homeCity
                        <p-columnFilter type="text" field="homeCity" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        homeState
                        <p-columnFilter type="text" field="homeState" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        homeProvince
                        <p-columnFilter type="text" field="homeProvince" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        homeZip
                        <p-columnFilter type="text" field="homeZip" display="menu"></p-columnFilter>
                    </div>
                </th>


                <th>
                    <div class="flex justify-content-center align-items-center">
                        billFirstName
                        <p-columnFilter type="text" field="billFirstName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        billLastName
                        <p-columnFilter type="text" field="billLastName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        billStreet
                        <p-columnFilter type="text" field="billStreet" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        billCity
                        <p-columnFilter type="text" field="billCity" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        billState
                        <p-columnFilter type="text" field="billState" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        billProvince
                        <p-columnFilter type="text" field="billProvince" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        billZip
                        <p-columnFilter type="text" field="billZip" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        affiliation
                        <p-columnFilter type="text" field="affiliation" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        department
                        <p-columnFilter type="text" field="department" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        jobTitle
                        <p-columnFilter type="text" field="jobTitle" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        workHomeUrl
                        <p-columnFilter type="text" field="workHomeUrl" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        workEmail
                        <p-columnFilter type="text" field="workEmail" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        workPhone
                        <p-columnFilter type="text" field="workPhone" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        workStreet
                        <p-columnFilter type="text" field="workStreet" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        workCity
                        <p-columnFilter type="text" field="workCity" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        workState
                        <p-columnFilter type="text" field="workState" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        workProvince
                        <p-columnFilter type="text" field="workProvince" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        workZip
                        <p-columnFilter type="text" field="workZip" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        prefContact
                        <p-columnFilter type="text" field="prefContact" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        isInMemberDir
                        <p-columnFilter type="text" field="isInMemberDir" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        memberType
                        <p-columnFilter type="text" field="memberType" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        isYPG
                        <p-columnFilter type="text" field="isYPG" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        memberStatus
                        <p-columnFilter type="text" field="memberStatus" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        accessRight
                        <p-columnFilter type="text" field="accessRight" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        registeredDate
                        <p-columnFilter type="date" field="registeredDateFormatted" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        lastUpdated
                        <p-columnFilter type="date" field="lastUpdatedFormatted" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        lastIPUsed
                        <p-columnFilter type="text" field="lastIPUsed" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        updatedBy
                        <p-columnFilter type="text" field="updatedBy" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        lastVisit
                        <p-columnFilter type="date" field="lastVisitFormatted" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        visitCount
                        <p-columnFilter type="numeric" field="visitCountFormatted" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        lastPaidDate
                        <p-columnFilter type="date" field="lastPaidDateFormatted" display="menu"></p-columnFilter>
                    </div>
                </th>


                <th>
                    <div class="flex justify-content-center align-items-center">
                        middleName
                        <p-columnFilter type="text" field="middleName" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        workFax
                        <p-columnFilter type="text" field="workFax" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        birthPlace
                        <p-columnFilter type="text" field="birthPlace" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        workCountry
                        <p-columnFilter type="text" field="workCountry" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        citizenship
                        <p-columnFilter type="text" field="citizenship" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        homeCountry
                        <p-columnFilter type="text" field="homeCountry" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        remark
                        <p-columnFilter type="text" field="remark" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        profileStatus
                        <p-columnFilter type="text" field="profileStatus" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        e_signature
                        <p-columnFilter type="text" field="e_signature" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        kofst_agree
                        <p-columnFilter type="text" field="kofst_agree" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        subscription
                        <p-columnFilter type="text" field="subscription" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        chapter
                        <p-columnFilter type="text" field="chapter.chapterName" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        Group
                        <p-columnFilter type="text" field="group.groupCode" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        1st APS
                        <p-columnFilter type="text" field="aps1.apsName" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        2nd APS
                        <p-columnFilter type="text" field="aps2.apsName" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        3rd APS
                        <p-columnFilter type="text" field="aps3.apsName" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        1st Main Specialty
                        <p-columnFilter type="text" field="specialty1.MainSpecialtyDesc" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        1st Sub Specialty
                        <p-columnFilter type="text" field="specialty1.SubSpecialtyDesc" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        2nd Main Specialty
                        <p-columnFilter type="text" field="specialty2.MainSpecialtyDesc" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        2nd Sub Specialty
                        <p-columnFilter type="text" field="specialty2.SubSpecialtyDesc" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        3rd Main Specialty
                        <p-columnFilter type="text" field="specialty3.MainSpecialtyDesc" display="menu"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-center align-items-center">
                        3rd Sub Specialty
                        <p-columnFilter type="text" field="specialty3.SubSpecialtyDesc" display="menu"></p-columnFilter>
                    </div>
                </th>

                <th>
                    <div class="flex justify-content-center align-items-center">
                        specialtyKeywords
                        <p-columnFilter type="text" field="specialtyKeywords" display="menu"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>
                    <p-tableCheckbox [value]="user"></p-tableCheckbox>
                </td>
                <td>{{user.memberId}}</td>
                <td>{{user.KSEAId}}</td>
                <td>{{user.loginId}}</td>

                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.firstName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.firstName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.lastName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.lastName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.gender">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.gender}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="date" [(ngModel)]="user.birth">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.birth| date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.title">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.title}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.email">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.email}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homepageUrl">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homepageUrl}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homePhone">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homePhone}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homeCell">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homeCell}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homeFax">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homeFax}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homeStreet">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homeStreet}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homeCity">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homeCity}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homeState">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homeState}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homeProvince">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homeProvince}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homeZip">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homeZip}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.billFirstName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.billFirstName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.billLastName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.billLastName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.billStreet">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.billStreet}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.billCity">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.billCity}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.billState">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.billState}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.billProvince">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.billProvince}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.billZip">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.billZip}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.affiliation">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.affiliation}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.department">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.department}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.jobTitle">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.jobTitle}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workHomeUrl">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workHomeUrl}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workEmail">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workEmail}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workPhone">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workPhone}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workStreet">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workStreet}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workCity">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workCity}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workState">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workState}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workProvince">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workProvince}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workZip">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workZip}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.prefContact">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.prefContact}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.isInMemberDir">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.isInMemberDir}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.memberType">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.memberType}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.isYPG">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.isYPG}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.memberStatus">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.memberStatus}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.accessRight">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.accessRight}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.registeredDateFormatted">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.registeredDateFormatted| date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.lastUpdatedFormatted">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.lastUpdatedFormatted| date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.lastIPUsed">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.lastIPUsed}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.updatedBy">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.updatedBy}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.lastVisitFormatted">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.lastVisitFormatted| date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.visitCountFormatted">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.visitCountFormatted'}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.lastPaidDateFormatted">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.lastPaidDateFormatted| date: 'MM/dd/yyyy'}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.middleName">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.middleName}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workFax">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workFax}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.birthPlace">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.birthPlace}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.workCountry">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.workCountry}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.citizenship">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.citizenship}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.homeCountry">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.homeCountry}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.remark">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.remark}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.profileStatus">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.profileStatus}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.e_signature">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.e_signature}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.kofst_agree">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.kofst_agree}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.subscription">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.subscription}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <div *ngIf="user.chapter">
                        {{user.chapter.chapterName}}
                    </div>
                </td>
                <td>
                    <div *ngIf="user.group">
                        {{user.group.groupCode}}
                    </div>
                </td>
                <td>
                    <div *ngIf="user.aps1">
                        {{user.aps1.apsName}}
                    </div>
                </td>
                <td>
                    <div *ngIf="user.aps2">
                        {{user.aps2.apsName}}
                    </div>
                </td>
                <td>
                    <div *ngIf="user.aps3">
                        {{user.aps3.apsName}}
                    </div>
                </td>

                <td>
                    <div *ngIf="user.specialty1">
                        {{user.specialty1.MainSpecialtyDesc}}
                    </div>
                </td>
                <td>
                    <div *ngIf="user.specialty1">
                        {{user.specialty1.SubSpecialtyDesc}}
                    </div>
                </td>
                <td>
                    <div *ngIf="user.specialty2">
                        {{user.specialty2.MainSpecialtyDesc}}
                    </div>
                </td>
                <td>
                    <div *ngIf="user.specialty2">
                        {{user.specialty2.SubSpecialtyDesc}}
                    </div>
                </td>
                <td>
                    <div *ngIf="user.specialty3">
                        {{user.specialty3.MainSpecialtyDesc}}
                    </div>
                </td>
                <td>
                    <div *ngIf="user.specialty3">
                        {{user.specialty3.SubSpecialtyDesc}}
                    </div>
                </td>
                <td pEditableColumn>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="user.specialtyKeywords">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{user.specialtyKeywords}}
                        </ng-template>
                    </p-cellEditor>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<!-- [Dev] Email -->
<p-dialog header="Send Email" [(visible)]="displaySendEmail"  [modal]="true">
    <div class="wrap-dlg">
        <ul class="input-email">
            <li>
                <label for="mailTo">To</label>
                <input type="text" name="" id="mailTo" [(ngModel)]="selectedUsersEmails" placeholder="abc@ksea.org">
            </li>
            <li>
                <label for="mailTitle">Title</label>
                <input type="text" name="" id="mailTitle" placeholder="Title">
            </li>
            <li>
                <label for="mailTxt">Message</label>
                <textarea name="" id="mailTex" rows="5"></textarea>
            </li>
        </ul>
    </div>
    <div class="dlg-btn-g">
        <button class="btn_dlg_gray" (click)="closeDlg()">Cancel</button>
        <button class="btn_dlg_blue">Send</button>
    </div>
</p-dialog>