.wrap {
    width: 77.5rem;
    height: 36.25em;
    margin: 4em auto;
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 0.2);
    display: flex;
    justify-content: space-between;
}
.con-input {
    padding: 1em 5rem;
}
.input-g {
    display: flex;
    flex-direction: column;
    width: 28rem;
}
.input-g li {
    margin-bottom: 1rem;
}
.input-g li:last-child {
    margin-bottom: 0;
}
input {
    width: 100%;
    border: 1px solid #CECECE;
    height: 2.6rem;
    border-radius: 8px;
    font-size: 1rem;
    padding: 0 1rem;
}
input::placeholder {
    color: #B7B7B7;
}
.btn-text {
    cursor: pointer;
    font-size: 0.875rem;
    margin-top: 1em;
}
.btn-text:hover {
    text-decoration: underline;
}
.btn-signin {
    background-color: #3C5DB7;
    border-radius: 8px;
    width: 100%;
    width: 30rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.5rem 0;
    text-align: center;
    margin-top: 0.5em;
}
.btn-signin:hover {
    background-color: #213D88;
}
.con-img {
    background-color: #3C5DB7;
    width: 100%;
}
.input-2 {
    display: flex;
    justify-content: space-between;
    column-gap: 0.8rem;
}
.title {
    margin-top: 2em;
}