<div class="wrap-sub">
    <div class="wrap-sub-top wrap-about">
        <div class="sub-title">
            <h2>Membership</h2>
            <p>Korean-American Scientists and Engineers Association(KSEA)</p>
        </div>
    </div>
    <div class="wrap-sub-con">
        <div class="wrap-membership">
            <div class="card-membership">
                <div class="member-type">
                    <span class="member-type-txt">Free</span>
                    <img src="assets/images/img_member_type_green.svg" alt="">
                </div>
                
                <ul class="info-membership">
                    <li>
                        <i><img src="assets/images/icon_check_green.svg" alt="check"></i>
                        Web and email service
                    </li>
                    <li>
                        <i><img src="assets/images/icon_check_green.svg" alt="check"></i>
                        Scholarships
                    </li>
                    <li>
                        <i><img src="assets/images/icon_check_green.svg" alt="check"></i>
                        Job referrals
                    </li>
                </ul>
                <button>Get started</button>
            </div>
            <div class="card-membership">
                <div class="member-type">
                    <span class="member-type-txt">Graduate</span>
                    <img src="assets/images/img_member_type_blue.svg" alt="">
                </div>
                
                <ul class="info-membership">
                    <li>
                        <i><img src="assets/images/icon_check_blue.svg" alt="check"></i>
                        Web and email service
                    </li>
                    <li>
                        <i><img src="assets/images/icon_check_blue.svg" alt="check"></i>
                        Scholarships
                    </li>
                    <li>
                        <i><img src="assets/images/icon_check_blue.svg" alt="check"></i>
                        Job referrals
                    </li>
                </ul>
                <button>Get started</button>
            </div>
            <div class="card-membership">
                <div class="member-type">
                    <span class="member-type-txt">Regular</span>
                    <img src="assets/images/img_member_type_red.svg" alt="">
                </div>
                
                <ul class="info-membership">
                    <li>
                        <i><img src="assets/images/icon_check_red.svg" alt="check"></i>
                        Web and email service
                    </li>
                    <li>
                        <i><img src="assets/images/icon_check_red.svg" alt="check"></i>
                        Scholarships
                    </li>
                    <li>
                        <i><img src="assets/images/icon_check_red.svg" alt="check"></i>
                        Job referrals
                    </li>
                </ul>
                <button>Get started</button>
            </div>
        </div>
        
    </div>
</div>