<div class="wrap-sub">
    <div class="wrap-sub-top wrap-about">
        <div class="sub-title">
            <h2>About</h2>
            <p>Korean-American Scientists and Engineers Association(KSEA)</p>
        </div>
    </div>
    <div class="wrap-sub-con">
        <div class="vision">
            <img src="assets/images/img_vision.svg" alt="Ksea vision & mission">
        </div>
        <div class="sub-column">
            <h3>President’s message</h3>
            <div class="wrap-contents">
                <div>
                    <img src="assets/images/img_ks_president.jpeg" class="img-ks-president" alt="Ksea president's photo">
                </div>
                <div class="wrap-txt">
                    <h5>Dear KSEA members:</h5>
                    <p>
                        It is my great honor to be able to serve all of you as the 50th President of KSEA. First and foremost, I sincerely hope you, your family, and your loved ones are doing well. Even as we are beginning to see the light near the end of the COVID-19 tunnel, I promise you that KSEA will put the safety of our members as the utmost priority in every event we plan to execute.

                        <br>I am very proud to begin the 50th Administration with 26 dedicated and diverse members in the Executive Committee and the Directors Committee. As each one of us is ready to serve and work with you, please do not hesitate to contact us with any ideas/suggestions that would make KSEA, a better organization and more importantly, one you would be proud of.

                        <br>I would like to share the following activities with you for now. With more to come!

                        <br>First, we will celebrate the 50th anniversary of KSEA in many ways, but at least two activities have been underway for the past few years by many volunteers. At last, we will see the outcomes from their hard work this year!  One is the publication of the KSEA 50-Year History Book in early December 2021. A special thanks to each and every contributor, the History Committee, and Editorial Board. The other is a long-term effort by the 50th Anniversary Committee to establish the KSEA Sejong Center for Innovation, which would help to realize KSEA’s vision for the next 50 years.

                        <br>Second, we will emphasize recognizing our members’ services and their impacts on KSEA as well as members’ achievements in their profession. We will do this by taking full advantage of social media, in addition to our website and KSEA Letters.

                        <br>Third, we will continue to put necessary efforts to make KSEA an organization more accommodating by focusing on diversity, equity, and inclusion. We cannot achieve this without your active participation. Please help us to help you all.

                        <br>Finally, I am ready and eager to sit down and talk with you in person or over the phone. Please feel free to reach out to me if I and/or KSEA can be of any help.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
