.wrap { 
    height: 100vh;
    background-color: #F7F7F7;
}
.wrap-gnb {
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    z-index: 2;
}
.wrap-contents {
    padding-left: 15rem;
    background-color: #F7F7F7;
}
body {
    background-color: #F7F7F7 !important;
}