<div class="wrap">
    <div class="wrap-gnb">
        <app-admin-gnb (selectEmitter)="receiveSelection($event)"></app-admin-gnb>
    </div>
    <div class="wrap-contents">
        <app-chapter *ngIf="selection === 'Chapter Statistics'"></app-chapter>
        <app-technical-group *ngIf="selection === 'TG Statistics'"></app-technical-group>
        <app-aps *ngIf="selection === 'APS Statistics'"></app-aps>
        <app-specialty *ngIf="selection === 'Specialty Statistics'"></app-specialty>
        <app-member-management *ngIf="selection === 'Member Management'"></app-member-management>
    </div>
</div>