.wrap-con {
    padding: 4rem;
}
h2 {
    font-size: 1.87rem;
    color: #0F0F0F;
}
.wrap-box {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    padding: 1.5em 1.4rem;
}
.basic-table tr {
    line-height: 2;
}
.wrap-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.4rem;
    margin-bottom: 2em;
}
.wrap-sub-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.5rem;
    margin: 3em 0 1em 0;
}
.wrap-sub-title h2 {
    font-size: 1.25rem;
}
.btn_blue, .btn_gray, .btn_deep_gray  {
    font-weight: bold;
    border-radius: 2px;
    padding: 0.4em 1rem ;
    
}
.btn_blue {
    color: #fff;
    border: 1px solid #213D88;
    background-color: #3C5DB7;
}
.btn_blue:hover {
    background-color: #567ADE;
}
.btn_gray {
    font-size: 0.6rem;
    color: #0F0F0F;
    border: 1px solid #717274;
    background-color: #E3E3E3;
}
.btn_gray:hover {
    background-color: #F0F0F0;
}
.btn_deep_gray {
    color: #fff;
    border: 1px solid #464646;
    background-color: #717274;
}
.btn_deep_gray:hover {
    background-color: #B7B8BA;
}
.table-data th {
    background-color: #E3E3E3;
}
// dialog 관련
.wrap-dlg {
    margin-top: -0.6em;
}
.wrap-dlg input {
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    padding: 0.5em 0.6rem;
}
.wrap-dlg textarea {
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    padding: 0.5em 0.6rem;
}
.wrap-dlg input::placeholder {
    color: #E3E3E3;
}
.input-data {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    font-size: 0.875rem;
}
.input-data li > span {
    padding: 0;
    margin-left: -1rem;
}
.input-data li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 22rem;
}
.input-data li label {
    width: 7rem;
}
.input-data li input {
    width: 100%;
}
.input-email {
    width: 40rem;
    display: flex;
    flex-direction: column;
}
.input-email label {
    font-size: 0.75rem;
    font-weight: bold;
}
.input-email li {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.4em;
    line-height: 2;
}
.input-email li input {
    width: 100%;
}
.dlg-btn-g {
    margin-top: 1.4em;
    text-align: center;
}
.dlg-btn-g > button {
    padding: 0.4em 1rem;
    margin-right: 0.4rem;
    border-radius: 2px;
}
.dlg-btn-g > .btn_dlg_gray {
    background-color: #E3E3E3;
}
.dlg-btn-g > .btn_dlg_gray:hover {
    background-color: #F0F0F0;
}
.dlg-btn-g > .btn_dlg_blue {
    color: #fff;
    background-color: #3C5DB7;
}
.dlg-btn-g > .btn_dlg_blue:hover {
    background-color: #567ADE;
}