.wrap-con {
    padding: 3rem;
}
h2 {
    font-size: 1.87rem;
    color: #0F0F0F;
    margin-bottom: 1em;
}
.wrap-box {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    padding: 1.5em 1.4rem;
}
.basic-table tr {
    line-height: 2;
}