<div class="wrap">
    <div class="wrap-main">
        <!-- [Dev] 메인 이미지 영역 -->
       <div>
        <div class="main-title">
            Korean-American <br>
            Scientists and <br>
            Engineers <br>
            Association(KSEA)
            <div class="main-text">
                Korean-American Scientists and Engineers Association(KSEA) Korean-American Scientists and Engineers Association(KSEA)
Korean-American Scientists and Engineers
            </div>
        </div>
        
        <video class="video-main" src="assets/videos/main_video.mp4" autoplay loop>Ksea main video</video>
       </div>
        <div class="wrap-img-control">
            <div class="btn-g-control">
                <button>
                    <img src="assets/images/icon_pre.svg" alt="preview ">
                </button>
                <button *ngIf="true">
                    <img src="assets/images/icon_pause.svg" alt="pause">
                </button>
                <button *ngIf="false">
                    <img src="assets/images/icon_play.svg" alt="pause">
                </button>
                <button>
                    <img src="assets/images/icon_next.svg" alt="next ">
                </button>
            </div>
            <div class="img-title">
                Korean-American Scientists and Engineers Association(KSEA)
            </div>
        </div>
    </div>
    <div class="wrap-news">
        <h2>Ksea News</h2>
        <div class="con-news">
            <div class="con-news-left">
                <ul class="news-tab">
                    <li (click)="onClick('board-notice')" class="selected-tab">
                        <div>
                            <img src="assets/images/icon_notice.svg" alt="notice" *ngIf="false">
                            <img src="assets/images/icon_notice_w.svg" alt="notice" *ngIf="true">
                            <p>Notice</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/icon_press.svg" alt="press" *ngIf="true">
                            <img src="assets/images/icon_press_w.svg" alt="press" *ngIf="false">
                        <p>Press</p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="assets/images/icon_job.svg" alt="job" *ngIf="true">
                            <img src="assets/images/icon_job_w.svg" alt="job" *ngIf="false">
                        <p>Job</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="con-table-news">
                <table class="table-news">
                    <tr>
                        <td>2022 KSEA Undergraduate and Graduate Scholarship Announcement</td>
                        <td>January 25, 2022</td>
                    </tr>
                    <tr>
                        <td>2022 KSEA Undergraduate and Graduate Scholarship Announcement</td>
                        <td>January 25, 2022</td>
                    </tr>
                    <tr>
                        <td>2022 KSEA Undergraduate and Graduate Scholarship Announcement</td>
                        <td>January 25, 2022</td>
                    </tr>
                    <tr>
                        <td>2022 KSEA Undergraduate and Graduate Scholarship Announcement</td>
                        <td>January 25, 2022</td>
                    </tr>
                    <tr>
                        <td>2022 KSEA Undergraduate and Graduate Scholarship Announcement</td>
                        <td>January 25, 2022</td>
                    </tr>
                </table>
                <p-paginator></p-paginator>
            </div>
        </div>
    </div>
    <div class="wrap-ksea-letter">
        <div class="con-ksea-letter-img">
            <img src="assets/images/img_ksea_letter.png" alt="Ksea letter image">
        </div>
        <div class="con-ksea-leatter">
            <h2>Ksea Letters</h2>
            <div>Korean-American Scientists and Engineers Association(KSEA) Korean-American Scientists and Engineers Association(KSEA)
                Korean-American Scientists and Engineers Association(KSEA) Korean-American Scientists and Engineers Association(KSEA)
            </div>
            <button class="btn_orange">Read</button>
        </div>
    </div>
    <div class="wrap-ad-banner">
        <ul class="con-ad-banner">
            <li>
                <img src="assets/images/banner01.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner02.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner03.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner04.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner05.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner06.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner07.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner08.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner09.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner10.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner11.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner12.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner13.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner14.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner15.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner16.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner17.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner18.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner19.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner20.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner21.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner22.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner23.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner24.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner25.png" alt="">
            </li>
            <!-- <li>
                <img src="assets/images/banner26.png" alt="">
            </li> -->
            <li>
                <img src="assets/images/banner27.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner28.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner29.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner30.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner31.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner32.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner33.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner34.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner35.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner36.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner37.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner38.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner39.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner40.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner41.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner42.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner43.png" alt="">
            </li>
            <!-- <li>
                <img src="assets/images/banner44.png" alt="">
            </li>
            <li>
                <img src="assets/images/banner45.png" alt="">
            </li>                -->
        </ul>
    </div>

</div>