h2 {
    font-size: 2.5rem;
}
.wrap-main {
    position: relative;
}
.main-title {
    position: absolute;
    top: 2em;
    padding-left: 10rem ;
    color: #fff;
    font-size: 3.75rem;
}
.main-text {
    margin-top: 2em;
    font-size: 1.25rem;
    width: 40rem;
    line-height: 2;
}
.wrap-img-control {
    position: absolute;
    right: 0;
    bottom: -2em;
    width: 40rem;
    background-color: #3C5DB7;
    color: #fff;
    display: flex;
    height: 5.25rem;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    padding: 0 1rem;
}
.btn-g-control {
}
.btn-g-control button {
    background-color: #3C5DB7;
}
.video-main {
    object-fit: cover;
    width: 100%;
    height: 51em;
    background-color: #eeeeee;
    overflow: hidden;
}
.wrap-news {
    margin-top: 10em;
    padding: 0 11vw;
}
.con-news {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    column-gap: 4rem;
    margin-top: 2em;
}
.news-tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 0.6em;
    margin: 0;
}
.news-tab li {
    cursor: pointer;
    width: 9.125rem;
    height: 9.125rem;
    background-color: #ECEFF8;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#3C5DB7;
}
.news-tab li > div {
    text-align: center;
}

.news-tab .selected-tab {
    background-color: #3C5DB7;
    color: #fff;
}
.table-news {
    width: 70rem;
    border-collapse: 0;
    border-spacing: 0;
    border-bottom: 1px solid #D1D1D1;
}
.table-news tr:hover {
    background-color: rgba($color: #ECEFF8, $alpha: 0.2);
}
.table-news td {
    padding: 2em 1rem ;
    cursor: pointer;
    border-top: 1px solid #D1D1D1;
}
.table-news td:last-child {
    width: 10rem;
}
.wrap-ksea-letter {
    position: relative;
    background-color: #3C5DB7;
    width: 100%;
    height: 59.75em;
    color: #fff;
    margin-top: 3em;
}
.con-ksea-letter-img {
    position: absolute;
    left: 0;
    top: 6em;
    width: 50vw;
}
.con-ksea-leatter {
    position: absolute;
    top: 20em;
    left: 65rem;
    width: 30rem;
}
.con-ksea-leatter > div {
    margin-top: 1.5em;
    margin-bottom: 1em;
    line-height: 2;
    font-size: 1.25rem;
} 
.wrap-ad-banner {
    margin-top: 10em;
    margin-bottom: 2em;
    overflow: hidden;
    display: block;
    width: 100%;
}
.con-ad-banner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    column-gap: 0.4rem;
}
.con-ad-banner li {
    flex-shrink: 0;
    cursor: pointer;
    border: 1px solid #D5D5D5;
    border-radius: 2px;
    width: 19.25rem;
    height: 6.4em;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.con-ad-banner li > img {
    width: 12rem;
    object-fit: cover;
}
.btn_orange {
    background-color: #FF9140;
    width: 10rem;
    font-size: 1rem;
    color: #fff;
    padding: 0.3em 1rem;
}